{% extends 'materiais/base.html' %}
{% block content %}
<h2>Cadastrar Nova Sobra</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.tipo.id_for_label }}" style="color:black;">Tipo:</label>
        {{ form.tipo }}
    </div>

    <div class="form-group">
        <label for="{{ form.quantidade.id_for_label }}" style="color:black;">Quantidade:</label>
        {{ form.quantidade }}
    </div>

    <div class="form-group">
        <label for="{{ form.unidade.id_for_label }}" style="color:black;">Unidade:</label>
        {{ form.unidade }}
    </div>

    <div class="form-group">
        <label for="{{ form.status.id_for_label }}" style="color:black;">Status:</label>
        {{ form.status }}
    </div>
    
    <div class="form-group">
        <label for="imagens" style="color:black;">Adicionar imagens (pode selecionar várias):</label>
        <input type="file" name="imagens" multiple class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
