{% extends 'materiais/base.html' %}

{% block content %}
<h2>Solicitações Recebidas</h2>

<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Justificativa</th>
        </tr>
    </thead>

    <tbody>
        {% for solicitacao in solicitacoes %}
        <tr>
            <td>{{ solicitacao.nome }}</td>
            <td>{{ solicitacao.email }}</td>
            <td>{{ solicitacao.telefone }}</td>
            <td>{{ solicitacao.justificativa }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                Nenhuma solicitação cadastrada.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}